:root {
    --faded-blue: #80b0ca;
    --bold-blue: #004e78;
    --navbar: #f5f5f5;
    --bright-blue: #bbf2f2;
}

canvas {
    border-radius: 50%;
}

#placeholder-img {
    border-radius: 50%;
    height: 350px;
}

.jumbotron {
    background-color: #99d3df !important;
}

.box {
    background-color: var(--bright-blue);
    border-radius: 15px;
    padding: 2rem;
}

.bold {
    font-weight: 600;
}

