
:root {
    --faded-blue: #80b0ca;
    --bold-blue: #004e78;
    --navbar: #f5f5f5;
    --bright-blue: #bbf2f2;
}

.lim-w {
    max-width: 50vh;
}

.custom-file-label {
    color: var(--faded-blue);
    background-color: var(--navbar);
    border-radius: 20px;
}

.jumbotron {
    background-color: var(--bright-blue);
}